.panel__body {
    display: flex;
    flex: 2;
    background: lightcoral;
}
// .panel-body.top {
//     height: 100%;
//     width: 100%;
// }
// .panel-body.bottom {
//     height: 100%;
//     width: 100%;
// }
// .panel-body.left {
//     height: 100%;
//     margin-right: 0px;
//     float: left;
// }
// .panel-body.right {
//     height: 100%;
//     float: right;
// }