.panel-header {
	display: flex;
	flex: 1;
    background: lightseagreen;
}
// .panel-header.top {
//     height: 100%;
//     width: 100%;
// }
// .panel-header.bottom {
//     height: 100%;
//     width: 100%;
// }
// .panel-header.left {
//     height: 100%;
//     float: left;
// }
// .panel-header.right {
//     height: 100%;
//     float: right;
// }