@import '../../css/variables.scss';

.modal {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
	background: lightcoral;
	border-radius: 4px;
	box-shadow: $shadow-section;
    z-index: $z-index-modal;
}

@media (max-width: 768px) {
    .modal {
        left: 5%;
        width: 90%;
    }
}