@import '../../css/variables.scss';

.navbar__shelf {
    height: 100%;
    background-color: $navbar-shelf-color;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: $navbar-height;
    left: 0;
    width: $navbar-shelf-width;
    max-width: $navbar-shelf-max-width;
    min-width: $navbar-shelf-min-width;
    z-index: $z-index-navbar-shelf;
    transform: translateX(-105%);
	transition: transform 0.3s ease-out;
	padding: $navbar-shelf-padding;
}

.navbar__shelf.open {
    transform: translateX(0);
}

.navbar__shelf a {
	color: $navbar-shelf-text-color;
    text-decoration: none;
    font-size: 2vh;
}

.navbar__shelf a:hover {
	background-color: $navbar-shelf-color;
    color: $navbar-shelf-hover-color;
}


.navbar__shelf {
    .navbar__item {
		margin: 2vh 0 2vh 1vh;
		height: auto;
		width: 100%;
    }
}