$color-primary: #2d2d2d;
$color-secondary: #525050;
$color-secondary-alt: #616161;
$color-highlight: #df0000;
$shadow-section: 0 5px 10px rgba(0, 0, 0, 0.25);
$shadow-section-inset: inset 0 5px 10px rgba(0, 0, 0, 0.25);

// z-indexes
$z-index-navbar: 2;
$z-index-navbar-shelf: 3;
// The fader loads from the bottom of the navbar and fills the rest of the viewport
$z-index-fader: $z-index-navbar;
$z-index-dropdown: 1;
$z-index-modal: 4;
$z-index-snowflakes: 5;

// navbar
$navbar-color: #2d2d2d;
$navbar-border-color: #525050;
$navbar-height: 8vh;
$navbar-text-color: #fff;
$navbar-shadow: 0 5px 10px rgba(0,0,0,0.25);
// navbar item
$navbar-item-border-color: 1px solid #525050;
$navbar-item-hover-color: darken(#2d2d2d, 10%);
$navbar-item-text-color: #fff;
// navbar shelf
$navbar-shelf-color: #f1f1f1;
$navbar-shelf-text-color: #000;
$navbar-shelf-hover-color: $color-primary;
$navbar-shelf-text-size: 2vh;
$navbar-shelf-top: 8vh;
$navbar-shelf-width: 20%;
$navbar-shelf-max-width: 400px;
$navbar-shelf-min-width: 200px;
$navbar-shelf-padding: 0;

// input
$input-font-color: #fff;
$placeholder-color: #b7b7b7;

// footer
$footer-height: 4vh;

// checkbox
$checkbox-true-color: $color-highlight;
$checkbox-false-color: #fff;

// progress
$progress-color: #b90000;
$progress-background-color: gray;
$progress-temporary-color: #17d350;
$progress-capped-color: #b90000;
$progress-temporary-color-capped: #17d350;

// initiative
$initiative-background-color: $color-secondary-alt;
$initiative-handles-color: #2d2d2d;
$initiative-player-color: #3BADEE;
$initiative-dm-color: #D31717;
$initiative-npc-color: #EAE829;

// container
$container-toggle-color: #fff;
$container-toggle-background-color: $color-primary;
$container-toggle-background-color-hover: darken($color-primary, 10%);